.svn*
_svn
obj/
*.suo
*.user
Log/
log/
*.db
*.dll
*.pdb
*.cache
*.exe
*.scc
*.vspscc
*.log
*.rdl.data
*.exclude
*.vsmdi
bin
Bin
Obj
bin/
content/data/
content/tenant/
content/lender/
content/photos/
aspnet_client
admin/scripts/all.js
admin/scripts/all-*.js
web/js/all.js
web/js/all-*.js
NetTiers.txt
build/NetTiers.txt
*.orig
*.xsc
*.xss
boomsite.sln
report.xml
clean.bat
report.html
*ReSharper*
.rar 
ZippedWebSites/
build/NetTiers.txt
web/js/all-*
web/Bin/BoomTown.Data.SqlClient.xml
web/Bin/BoomTown.Data.xml
web/Bin/BoomTown.Entities.xml
web/Bin/BoomTown.Services.xml
!BoomTown.Revisions/bin/Debug/BoomTown.Revisions.exe
!References/*.dll
!References/mongodb-csharp-.90.0.beta/*.dll
zipped websites/*.*
admin/temp/
temp/
*.vs10x
psbuild/
PrecompiledWeb/
BoomTown.Data.MongoDB_OBSOLETE/
!psbuild/wsdl.exe
!psbuild/disco.exe
!BoomTown.TaskService.Service/bin/Debug/plugins/
!BoomTown.TaskService.Service/bin/Release/plugins/
TestResults
*.testsettings